{% extends 'base.html' %} {% block body %}

<main>
  <section class="container-fluid" id="search-boxes">
    <div class="container-fluid make-serach">
      <form action="" class="row bg-dark bg-opacity-10 my-2">
        <div class="col-md-3">
          <select
            class="form-select my-2"
            aria-label="Default select example"
            id="make"
          >
            <option selected>Select Make</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3">
          <select
            class="form-select my-2"
            aria-label="Default select example"
            id="make"
          >
            <option selected>Select Make</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3">
          <select
            class="form-select my-2"
            aria-label="Default select example"
            id="make"
          >
            <option selected>Select Make</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3">
          <select
            class="form-select my-2"
            aria-label="Default select example"
            id="make"
          >
            <option selected>Select Make</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6 my-2">
          <button class="btn btn-success">Select</button>
        </div>
      </form>
    </div>
  </section>

  <section class="container-fluid my-2">
    <div class="row">
      {% for i in range(6) %}
      <div class="col-12 col-md-6 col-xl-4">
        <div class="card my-2">
          <img src="static/assets/car2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4 class="card-title">$12000</h4>
            <h5 class="card-subtitle">Card title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
              officia possimus, ut deserunt aspernatur ea, atque cupiditate id
              distinctio dolorum nemo blanditiis! Voluptatum aliquam doloremque
              sit cum iure error tempore, unde at similique repudiandae sint
              porro iste est voluptate magni earum architecto magnam ipsam
              facere. Accusamus aliquam dicta cupiditate molestiae?
            </p>
            <div
              class="card-footer d-flex justify-content-between mobile-display"
            >
              <a
                href="#"
                class="btn btn-success my-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                >More Information</a
              >
              <a href="/view_vehicles" class="btn btn-outline-success my-2"
                >View Vehicle</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center my-3">
        <li class="page-item">
          <a class="page-link text-success" href="#">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link text-success" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link text-success" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link text-success" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link text-success" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </section>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen" style="height: max-content!important;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Make + Model Name
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mx-3 d-flex justify-content-between">
          <div
            class="col-12 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center alig"
          >
            <img src="static/assets/car2.jpg" alt="" id="modal-main-image" />
          </div>

          <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="row" id="modal-side-images">
              {% for i in range(8) %}
              <div class="col-3 col-lg-4">
                <img
                  src="static/assets/car2.jpg"
                  alt=""
                  class="modal-side-image"
                />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row mx-3 d-flex justify-content-between">
          <div class="col-sm-12 col-md-4 features">
            {% for i in range(5) %}
            <div class="d-flex justify-content-between">
              <p>Make</p>
              <p>Ferrari</p>
            </div>
            <hr class="my-1 border-success border-5" />
            {% endfor %}
          </div>
          <div class="col-sm-12 col-md-4 features">
            {% for i in range(5) %}
            <div class="d-flex justify-content-between">
              <p>Make</p>
              <p>Ferrari</p>
            </div>
            <hr class="my-1 border-success border-5" />
            {% endfor %}
          </div>
          <div class="col-sm-12 col-md-4 features more-features">
            {% for i in range(5) %}
            <div class="d-flex justify-content-between">
              <p>Make</p>
              <p>Ferrari</p>
            </div>
            <hr class="my-1 border-success border-5" />
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a href="/view_vehicles" class="btn btn-outline-success">
          View Vehicle
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
